.navbar-burger-div {
  width: 20px;
  height: 3px;
  background: #000000;
}

.our-cards-card {
  height: 270px;
  width: 25%;
  padding: 25px;
  border-radius: 15px;
  background: #fff;
  border: 2px solid #f5f5f5;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.our-cards-card:hover {
  box-shadow: 10px 10px 5px #f5f5f5;
}
.our-cards-card:active {
  background: rgb(69, 143, 246);
  color: #fff;
}
.our-cards-card:active p, .our-cards-card:active h5 {
  color: #fff;
  opacity: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}

.box {
  width: 1200px;
  margin: auto;
  background: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 1200px) {
  .box {
    width: 90%;
  }
}
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 50px;
}
.intro-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.intro-title {
  font-size: 40px;
  font-weight: 700;
  width: 400px;
  font-style: normal;
  line-height: normal;
  color: #000000;
  text-align: left;
}
.intro-text {
  font-size: 16px;
  font-weight: 500;
  width: 400px;
  font-style: normal;
  line-height: normal;
  color: #000000;
  opacity: 0.6;
  line-height: 25px;
}
.intro-btn {
  background: rgb(69, 143, 246);
  width: 140px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 20px;
  transition: all 0.3s linear;
  align-self: self-start;
}
.intro-btn:hover {
  background: transparent;
  border: 3px solid rgb(69, 143, 246);
  color: rgb(69, 143, 246);
}
.intro-btn:active {
  background: rgb(69, 143, 246);
  color: #1f1534;
}
.intro-right {
  width: 600px;
}
.intro-right img {
  width: 600px;
  height: auto;
}

@media (max-width: 1200px) {
  .intro {
    width: 100%;
    flex-direction: column;
  }
  .intro-title {
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    font-style: normal;
    line-height: normal;
    color: #000000;
    margin: auto;
    text-align: center;
  }
  .intro-text {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    font-style: normal;
    line-height: normal;
    color: #000000;
    margin: auto;
    text-align: center;
  }
  .intro-btn {
    background: rgb(69, 143, 246);
    width: 100px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: all 0.3s linear;
    font-size: 10px;
    align-self: center;
  }
  .intro-btn:hover {
    background: transparent;
    border: 3px solid rgb(69, 143, 246);
    color: rgb(69, 143, 246);
  }
  .intro-btn:active {
    background: rgb(69, 143, 246);
    color: #1f1534;
  }
  .intro-right {
    width: 100%;
    margin-top: 50px;
  }
  .intro-right img {
    width: 100%;
    height: auto;
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px 50px;
}
.navbar-img {
  width: auto;
  height: auto;
}
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 25px;
}
.navbar-item {
  width: 135px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  height: 35px;
}
.navbar-link {
  font-size: 18px;
  font-weight: 600;
  width: auto;
  font-style: normal;
  line-height: normal;
  color: #7d7987;
  transition: all 0.5s linear;
}
.navbar-link:hover {
  color: #1f1534;
  background: rgb(69, 143, 246);
  border-radius: 5px;
  padding: 5px 10px;
}
.navbar-link:active {
  color: #fff;
}
.navbar-burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: none;
  gap: 5px;
}
.navbar-burger:hover .navbar-burger-div {
  background: rgb(69, 143, 246);
}
.navbar-burger-div {
  transition: all 0.3s linear;
}

@media (max-width: 1200px) {
  .navbar {
    width: 100%;
  }
  .navbar-list {
    display: none;
  }
  .navbar-burger {
    display: flex;
  }
}
.wrapper {
  background: #f5f5f5;
}

.customer {
  width: 80%;
  background: rgb(69, 143, 246);
  margin: 50px auto;
  border-radius: 20px;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.customer-title {
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  font-style: normal;
  line-height: normal;
  color: #fff;
  text-align: center;
}
.customer-line {
  height: 2px;
  width: 10%;
  background: #fff;
}
.customer-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}
.customer-area-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
  align-items: self-start;
  font-size: 10px;
  font-weight: 400;
  width: 100%;
  font-style: normal;
  line-height: normal;
  color: #fff;
}
.customer-area-text {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  font-style: normal;
  line-height: normal;
  color: #fff;
}
.customer span {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  font-style: normal;
  line-height: normal;
  color: #fff;
}

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 50px;
}
.download-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.download-title {
  font-size: 40px;
  font-weight: 700;
  width: 400px;
  font-style: normal;
  line-height: normal;
  color: #000000;
  text-align: left;
}
.download-line {
  height: 2px;
  width: 10%;
  background: #000000;
  align-self: flex-start;
}
.download-text {
  font-size: 16px;
  font-weight: 500;
  width: 400px;
  font-style: normal;
  line-height: normal;
  color: #000000;
  opacity: 0.6;
  line-height: 25px;
}
.download-btn {
  background: transparent;
  width: 140px;
  height: 40px;
  color: rgb(69, 143, 246);
  border: 3px solid rgb(69, 143, 246);
  border-radius: 20px;
  transition: all 0.3s linear;
  align-self: self-start;
}
.download-btn:hover {
  background: rgb(69, 143, 246);
  color: #fff;
  border: none;
}
.download-right {
  width: 600px;
}
.download-right img {
  width: 600px;
  height: auto;
}

@media (max-width: 1200px) {
  .download {
    width: 100%;
    flex-direction: column;
  }
  .download-title {
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    font-style: normal;
    line-height: normal;
    color: #000000;
    margin: auto;
    text-align: center;
  }
  .download-line {
    width: 10%;
    align-self: center;
  }
  .download-text {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    font-style: normal;
    line-height: normal;
    color: #000000;
    margin: auto;
    text-align: center;
  }
  .download-btn {
    background: transparent;
    width: 100px;
    height: 30px;
    color: rgb(69, 143, 246);
    border: 3px solid rgb(69, 143, 246);
    border-radius: 20px;
    transition: all 0.3s linear;
    font-size: 10px;
    align-self: center;
  }
  .download-btn:hover {
    background: rgb(69, 143, 246);
    color: #fff;
    border: none;
  }
  .download-right {
    width: 100%;
    margin-top: 50px;
  }
  .download-right img {
    width: 100%;
    height: auto;
  }
}
.lead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 50px;
}
.lead-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.lead-title {
  font-size: 40px;
  font-weight: 700;
  width: 400px;
  font-style: normal;
  line-height: normal;
  color: #000000;
  text-align: left;
}
.lead-line {
  height: 2px;
  width: 10%;
  background: #000000;
  align-self: flex-start;
}
.lead-text {
  font-size: 16px;
  font-weight: 500;
  width: 400px;
  font-style: normal;
  line-height: normal;
  color: #000000;
  opacity: 0.6;
  line-height: 25px;
}
.lead-btn {
  background: transparent;
  width: 140px;
  height: 40px;
  color: rgb(69, 143, 246);
  border: 3px solid rgb(69, 143, 246);
  border-radius: 20px;
  transition: all 0.3s linear;
  align-self: self-start;
}
.lead-btn:hover {
  background: rgb(69, 143, 246);
  color: #fff;
  border: none;
}
.lead-right {
  width: 600px;
}
.lead-right img {
  width: 600px;
  height: auto;
}

@media (max-width: 1200px) {
  .lead {
    width: 100%;
    flex-direction: column;
  }
  .lead-title {
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    font-style: normal;
    line-height: normal;
    color: #000000;
    margin: auto;
    text-align: center;
  }
  .lead-line {
    width: 10%;
    align-self: center;
  }
  .lead-text {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    font-style: normal;
    line-height: normal;
    color: #000000;
    margin: auto;
    text-align: center;
  }
  .lead-btn {
    background: transparent;
    width: 100px;
    height: 30px;
    color: rgb(69, 143, 246);
    border: 3px solid rgb(69, 143, 246);
    border-radius: 20px;
    transition: all 0.3s linear;
    font-size: 10px;
    align-self: center;
  }
  .lead-btn:hover {
    background: rgb(69, 143, 246);
    color: #fff;
    border: none;
  }
  .lead-right {
    width: 100%;
    margin-top: 50px;
  }
  .lead-right img {
    width: 100%;
    height: auto;
  }
}
.our {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}
.our-title {
  font-size: 30px;
  font-weight: 700;
  width: auto;
  font-style: normal;
  line-height: normal;
  color: #000000;
}
.our-line {
  height: 2px;
  width: 10%;
  background: #000000;
}
.our-text {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  width: 900px;
  font-style: normal;
  line-height: normal;
  color: #000000;
  opacity: 0.3;
}
.our-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  width: 90%;
  flex-wrap: wrap;
}
.our-cards-card-title {
  font-size: 20px;
  font-weight: 700;
  width: auto;
  font-style: normal;
  line-height: normal;
  color: #000000;
}
.our-cards-card-text {
  font-size: 14px;
  font-weight: 500;
  width: auto;
  font-style: normal;
  line-height: normal;
  color: #000000;
  line-height: 20px;
  opacity: 0.3;
}
.our-cards-card img {
  width: 65px;
  height: 80px;
}
.our-btn {
  background: transparent;
  width: 140px;
  height: 40px;
  color: rgb(69, 143, 246);
  border: 3px solid rgb(69, 143, 246);
  border-radius: 20px;
  transition: all 0.3s linear;
}
.our-btn:hover {
  background: rgb(69, 143, 246);
  color: #fff;
  border: none;
}

@media (max-width: 1200px) {
  .our {
    width: 100%;
  }
  .our-title {
    width: 100%;
    text-align: center;
  }
  .our-text {
    width: 90%;
    text-align: center;
  }
  .our-line {
    width: 10%;
  }
  .our-cards {
    justify-content: center;
  }
  .our-cards-card {
    width: 230px;
  }
  .our-cards-card-title {
    width: 100%;
  }
  .our-cards-card-text {
    width: 100%;
  }
  .our-cards-card img {
    width: 100%;
    align-self: center;
  }
  .our-btn {
    background: transparent;
    width: 100px;
    height: 30px;
    color: rgb(69, 143, 246);
    border: 3px solid rgb(69, 143, 246);
    border-radius: 20px;
    transition: all 0.3s linear;
    font-size: 10px;
  }
  .our-btn:hover {
    background: rgb(69, 143, 246);
    color: #fff;
    border: none;
  }
}/*# sourceMappingURL=style.css.map */