* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}
.box {
  width: 1200px;
  margin: auto;
  background: $white;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
@media (max-width: 1200px) {
  .box {
    width: 90%;
  }
}
